.navbar a.active {
  color: #64b5f6 !important;
  background-color: white !important;
  border-color: #64b5f6;
  border-radius: 10px;
  border-width: 3px;

}


.drop-btn {
  position: absolute;
  z-index: 999;

}