.navbar a.active {
  color: rgb(149, 149, 197)  !important;
  background-color: white !important;
  border-color: rgb(149, 149, 197)  ;
  border-radius: 10px ;
  border-width: 3px;

}


.drop-btn {
  position: absolute; 
  z-index: 999; 

}
